{% extends 'app/base.html' %}

{% block title %}Información {{object}}{% endblock %}

{% block content %}

<h1>Actividad {{object.titulo}} registrada exitosamente</h1>
<p>Datos Registrados:</p>

<table>
<tr><th>Titulo:</th><td>{{object.titulo}}</td></tr>
<tr><th>Descripcion:</th><td>{{object.descripcion}}</td></tr>
<tr><th>Porcentaje:</th><td>{{object.porcentaje}}</td></tr>
<tr><th>Fecha de inicio:</th><td>{{object.fecha_inicio}}</td></tr>
<tr><th>Fecha de cierre:</th><td>{{object.fecha_cierre}}</td></tr>
</table>

{% endblock %}