{% extends 'app/base.html' %}

{% block title %}Información {{object}}{% endblock %}

{% block content %}

<h1>Leader Teacher {{object.nombre}} {{object.apellidos}} registrado exitosamente</h1>
<p>Datos Registrados:</p>

<table>
<tr><th>Nombre:</th><td>{{object.nombre}}</td></tr>
<tr><th>Apellidos</th><td>{{object.apellidos}}</td></tr>
<tr><th>Cédula:</th><td>{{object.cedula}}</td></tr>
<tr><th>Sexo:</th><td>{{object.getSexo}}</td></tr>
<tr><th>Registro:</th><td>{{object.fecha_registro}}</td></tr>
<tr><th>Institución:</th><td>{{object.institucion}}</td></tr>
</table>

{% endblock %}