{% extends "app/base.html" %}

{% block title %}
{{object_name}} | Listado
{% endblock %}

{% block content %}
<h2>Listado {{object_name}}</h2>
<table>
{% for object in object_list %}
	<tr><th>Maricula Numero:</th><td>{{object.slug}}</td></tr>
	<tr><th>Leader Teacher Matriculado:</th><td>{{object.identificacion_leader_teacher}}</td></tr>
	<tr><th>Curso Matriculado:</th><td>{{object.identificacion_curso}}</td></tr>
	<tr><th>Estado de la Matricula:</th><td>{{object.estado_matricula}}</td></tr>
{% endfor %}
</table>
{% endblock %}